
<div class="search-bar">
    <div class="simple">
        <div class="search-icon"><div class="icon-wrapper"><i class="fas fa-search"></i></div></div>
        <div class="search-fields">
            <form @onsubmit="async () => await OnChangeSearch.InvokeAsync(parameter)" @formname="filter-form">
                <div class="row">
                    <div class="col-12 col-lg-2">
                        <div class="form-group">
                            <label for="Barcode">
                                Barcode
                            </label>
                            <InputText @bind-Value="parameter.Barcode"
                                       id="Date" type="text" class="form-control form-control-sm" style="height: 30px;" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-2">
                        <div class="form-group">
                            <label for="FormDate">
                                From Date
                            </label>
                            <InputText @bind-Value="parameter.FromDate"
                                       id="FormDate" type="date" class="form-control form-control-sm" style="height: 30px;" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-2">
                        <div class="form-group">
                            <label for="ToDate">
                                To Date
                            </label>
                            <InputText @bind-Value="parameter.ToDate"
                                       id="ToDate" type="date" class="form-control form-control-sm" style="height: 30px;" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-1">
                        <label class="clear-search" for="btn"></label>
                        <button type="submit" id="btn" class="btn btn-primary w-100 btn-sm rounded-1">
                            <i class="fas fa-search fa-fw"></i>
                            <span class="hidden-md">
                                Search
                            </span>
                        </button>
                    </div>
                    <div class="col-12 col-lg-1">
                        <label class="clear-search" for="btn"></label>
                        <button type="button" id="btn" class="btn btn-secondary w-100 btn-sm rounded-1" @onclick="async () => await OnResetSearch.InvokeAsync()">
                            <i class="fas fa-ban fa-fw"></i>
                            <span class="hidden-md">
                                Refresh
                            </span>
                        </button>
                    </div>
                </div>      
            </form>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public FeedbackParameter parameter { get; set; } = new FeedbackParameter();

    [Parameter]
    public EventCallback<FeedbackParameter> OnChangeSearch { get; set; }

    [Parameter]
    public EventCallback OnResetSearch { get; set; }
}
